*.sublime-project
*.sublime-workspace
.DS*
.DS_Store

html/.DS_Store

html/assets/.DS_Store

Library
testfile2
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.unityproj
Assembly-UnityScript-Editor-vs.unityproj
Assembly-UnityScript-Editor.unityproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assets/aardvarkScript.js
ClaraTheGame-csharp.sln
ClaraTheGame.sln
ClaraTheGame.userprefs
Temp/
testfile.txt
testfile2.txt




